@font-face {
  font-family: 'CenturyGothic';
  src: url('fonts-generated/gothic.eot');
  src: url('fonts-generated/gothic.eot?#iefix') format('embedded-opentype'), url('fonts-generated/gothic.woff') format('woff'), url('fonts-generated/gothic.ttf') format('truetype'), url('fonts-generated/gothic.svg#gothic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CenturyGothic';
  src: url('fonts-generated/gothicb.eot');
  src: url('fonts-generated/gothicb.eot?#iefix') format('embedded-opentype'), url('fonts-generated/gothicb.woff') format('woff'), url('fonts-generated/gothicb.ttf') format('truetype'), url('fonts-generated/gothicb.svg#gothicb') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'CenturyGothic';
  src: url('fonts-generated/gothicbi.eot');
  src: url('fonts-generated/gothicbi.eot?#iefix') format('embedded-opentype'), url('fonts-generated/gothicbi.woff') format('woff'), url('fonts-generated/gothicbi.ttf') format('truetype'), url('fonts-generated/gothicbi.svg#gothicbi') format('svg');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'CenturyGothic';
  src: url('fonts-generated/gothici.eot');
  src: url('fonts-generated/gothici.eot?#iefix') format('embedded-opentype'), url('fonts-generated/gothici.woff') format('woff'), url('fonts-generated/gothici.ttf') format('truetype'), url('fonts-generated/gothici.svg#gothici') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'PFAgoraSlabPro';
  src: url('fonts-generated/pfagoraslabprobolditalic.eot');
  src: url('fonts-generated/pfagoraslabprobolditalic.eot?#iefix') format('embedded-opentype'), url('fonts-generated/pfagoraslabprobolditalic.woff') format('woff'), url('fonts-generated/pfagoraslabprobolditalic.ttf') format('truetype'), url('fonts-generated/pfagoraslabprobolditalic.svg#pfagoraslabprobolditalic') format('svg');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'PFAgoraSlabPro';
  src: url('fonts-generated/pfagoraslabproitalic.eot');
  src: url('fonts-generated/pfagoraslabproitalic.eot?#iefix') format('embedded-opentype'), url('fonts-generated/pfagoraslabproitalic.woff') format('woff'), url('fonts-generated/pfagoraslabproitalic.ttf') format('truetype'), url('fonts-generated/pfagoraslabproitalic.svg#pfagoraslabproitalic') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'PFAgoraSlabPro';
  src: url('fonts-generated/pfagoraslabprothin.eot');
  src: url('fonts-generated/pfagoraslabprothin.eot?#iefix') format('embedded-opentype'), url('fonts-generated/pfagoraslabprothin.woff') format('woff'), url('fonts-generated/pfagoraslabprothin.ttf') format('truetype'), url('fonts-generated/pfagoraslabprothin.svg#pfagoraslabprothin') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PFAgoraSlabPro';
  src: url('fonts-generated/pfagoraslabprothinitalic.eot');
  src: url('fonts-generated/pfagoraslabprothinitalic.eot?#iefix') format('embedded-opentype'), url('fonts-generated/pfagoraslabprothinitalic.woff') format('woff'), url('fonts-generated/pfagoraslabprothinitalic.ttf') format('truetype'), url('fonts-generated/pfagoraslabprothinitalic.svg#pfagoraslabprothinitalic') format('svg');
  font-weight: normal;
  font-style: italic;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: normal;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.clear {
  clear: both;
  height: 0px;
  line-height: 0px;
  font-size: 0px;
  overflow: hidden;
}
/*
  CenturyGothic
  PFAgoraSlabPro
*/
body a {
  text-decoration: underline;
}
body a:hover {
  text-decoration: none;
}
body *[data-link] {
  cursor: pointer;
}
body.index {
  background: url(i/index/bg.jpg) no-repeat fixed center;
  background-size: cover;
}
body.inner {
  background: url(i/inner/bg.jpg) no-repeat fixed center;
  background-size: cover;
}
footer {
  border-top: 1px dashed #999;
  text-align: center;
  padding: 30px 0 0 0;
  width: 860px;
  font-size: 14px;
  font-family: 'PFAgoraSlabPro';
  margin: 0 auto;
}
footer .copyright {
  padding: 0 0 20px;
  color: #000;
}
footer .social {
  padding: 0 0 20px;
}
footer .social a {
  display: inline-block;
  margin: 0 3px;
  width: 24px;
  height: 24px;
  background: url('i/index/social.gif') no-repeat;
}
footer .social a.fb {
  background-position: 0px 0px;
}
footer .social a.tw {
  background-position: -24px 0px;
}
footer .social a.vk {
  background-position: -48px 0px;
}
footer .social a.yb {
  background-position: -72px 0px;
}
.index header {
  padding: 50px 0 40px;
}
.index header img {
  display: block;
  margin: 0 auto;
}
.index section {
  width: 1009.8px;
  margin: 0 auto 50px;
}
.index section h1 {
  text-align: center;
  color: #4c92cd;
  font-size: 60px;
  font-family: 'CenturyGothic';
  font-weight: bold;
}
.index section article {
  width: 336.6px;
  float: left;
  text-align: center;
}
.index section article .image {
  display: block;
  height: 356px;
  background: url('i/index/countries.png') no-repeat;
}
.index section article p {
  text-align: center;
  margin: 0 0 15px;
  font-family: 'PFAgoraSlabPro';
}
.index section article p.price {
  color: #000;
  font-size: 18px;
}
.index section article p span {
  color: #a21408;
}
.index section article p a {
  display: inline-block;
  background: #e21e23;
  color: #fff;
  padding: 5px 10px;
  font-size: 14px;
  font-style: italic;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.index section article.greece .image {
  background-position: 0px 0px;
}
.index section article.turkey .image {
  background-position: -336.6px 0px;
}
.index section article.spain .image {
  background-position: -673.3px 0px;
}
.inner header {
  height: 379px;
  background: url('i/inner/head.jpg') no-repeat;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 0 auto 37px;
  position: relative;
  width: 929px;
}
.inner header .top {
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  background: rgba(255, 255, 255, 0.5);
  padding: 20px 0px 20px 30px;
}
.inner header .top .logo {
  width: 150px;
  float: left;
}
.inner header .top .l {
  float: left;
  width: 440px;
  margin: -10px 0 0 40px;
}
.inner header .top .l .phone {
  border-bottom: 1px dashed #000;
  display: inline-block;
  color: #393185;
  font-family: 'CenturyGothic';
  font-size: 18px;
}
.inner header .top .l .phone strong {
  font-size: 30px;
  font-weight: bold;
}
.inner header .top .l h1 {
  clear: both;
  font-size: 48px;
  color: #e21e23;
  font-weight: bold;
  font-family: 'CenturyGothic';
}
.inner header .top .countries {
  margin: 45px 0 0;
  float: right;
  font-family: 'PFAgoraSlabPro';
  font-style: italic;
  font-size: 18px;
}
.inner header .top .countries li {
  float: left;
  position: relative;
  padding: 0px 20px 0px 40px;
  line-height: 32px;
}
.inner header .top .countries li a {
  color: #e21e23;
}
.inner header .top .countries li i {
  background: url('i/inner/countries_icons.png') no-repeat;
  height: 32px;
  width: 31px;
  position: absolute;
  top: 0px;
  left: 0px;
}
.inner header .top .countries li.greece i {
  background-position: 0px 0px;
}
.inner header .top .countries li.spain i {
  background-position: -62px 0px;
}
.inner header .top .countries li.turkey i {
  background-position: -31px 0px;
}
.inner header .red_line {
  background: url('i/inner/red_line.png') repeat-y 0px -4px;
  position: absolute;
  bottom: 33px;
  right: 0px;
  color: #fff;
  padding: 12px 20px 8px 30px;
  font-size: 22px;
  font-family: 'PFAgoraSlabPro';
  font-style: italic;
}
.inner header .red_line small {
  font-size: 18px;
}
.inner header .red_line strong {
  font-weight: bold;
  font-size: 24px;
}
.inner .wrap {
  background: rgba(255, 255, 255, 0.9);
  width: 940px;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  padding: 20px 27px 0;
}
.inner section {
  width: 929px;
  margin: 0 auto;
}
.inner section .tour {
  width: 50%;
  float: left;
  margin: 0 0 22px 0;
  font-family: 'PFAgoraSlabPro';
}
.inner section .tour a {
  display: block;
  text-decoration: none;
  color: #000;
}
.inner section .tour a p {
  font-size: 14px;
  line-height: 18px;
}
.inner section .tour a p.name {
  font-size: 18px;
  color: #393185;
  text-decoration: none;
  display: block;
  margin: 8px 0 0 0;
}
.inner section .tour a p i {
  color: #6f6f6f;
  display: block;
  margin-bottom: 7px;
}
.inner section .tour a p strong {
  color: #e21e23;
  font-size: 24px;
  line-height: 33px;
  font-weight: bold;
}
.inner section .tour img {
  float: left;
  margin: 0 25px 0 0;
  width: 227px;
  height: 120px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
