@import "fonts.less";
@import "reset.less";

/*
  CenturyGothic
  PFAgoraSlabPro
*/

.border-radius(@radius) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}
.box-shadow(@shadow) {
  -webkit-box-shadow: @shadow;
  -moz-box-shadow: @shadow;
  box-shadow: @shadow;
}
.opacity(@opacity) {
  opacity: @opacity / 100;
  filter: ~"alpha(opacity=@{opacity})";
}

body {
  a {
    text-decoration:underline;
    &:hover {
      text-decoration:none;
    }
  }
  *[data-link] {
    cursor:pointer;
  }
  &.index {
    background: url(i/index/bg.jpg) no-repeat fixed center;
    background-size: cover;
  }
  &.inner {
    background: url(i/inner/bg.jpg) no-repeat fixed center;
    background-size: cover;
  }
}

footer {
  border-top:1px dashed #999;
  text-align:center;
  padding:30px 0 0 0;
  width:860px;
  font-size:14px;
  font-family:'PFAgoraSlabPro';
  margin:0 auto;

  .copyright {
    padding:0 0 20px;
    color:#000;
  }

  .social {
    padding:0 0 20px;
    a {
      display:inline-block;
      margin:0 3px;
      width:24px;
      height:24px;
      background: url('i/index/social.gif') no-repeat;
      &.fb {background-position: 0px 0px;}
      &.tw {background-position: -24px 0px;}
      &.vk {background-position: -48px 0px;}
      &.yb {background-position: -72px 0px;}
    }

  }

}

.index {

  header {
    padding:50px 0 40px;
    img {
      display:block;
      margin:0 auto;
    }
  }

  section {

    width:1009.8px;
    margin:0 auto 50px;

    h1 {
      text-align:center;
      color:#4c92cd;
      font-size:60px;
      font-family:'CenturyGothic';
      font-weight:bold;
    }

    article {

      width:336.6px;
      float:left;
      text-align:center;

      .image {
        display:block;
        height:356px;
        background: url('i/index/countries.png') no-repeat;
      }

      p {
        text-align:center;
        margin:0 0 15px;
        font-family:'PFAgoraSlabPro';
        &.price {
          color:#000;
          font-size:18px;
        }
        span {
          color:#a21408;
        }
        a {
          display:inline-block;
          background:#e21e23;
          color:#fff;
          padding:5px 10px;
          font-size:14px;
          font-style:italic;
          .border-radius(4px);
        }
      }

      &.greece .image {background-position:0px 0px;}
      &.turkey .image {background-position:-336.6px 0px;}
      &.spain  .image {background-position:-673.3px 0px;}
    }

  }

}

.inner {

  header {
    height:379px;
    background: url('i/inner/head.jpg') no-repeat;
    .border-radius(5px);
    margin:0 auto 37px;
    position:relative;
    width:929px;

    .top {
      .border-radius(5px 5px 0 0);
      background:rgba(255, 255, 255, 0.5);
      padding:20px 0px 20px 30px;

      .logo {
        width:150px;
        float:left;
      }

      .l {
        float:left;
        width:440px;
        margin:-10px 0 0 40px;
        .phone {
          border-bottom:1px dashed #000;
          display:inline-block;
          color:#393185;
          font-family:'CenturyGothic';
          font-size:18px;
          strong {
            font-size:30px;
            font-weight:bold;
          }
        }
        h1 {
          clear:both;
          font-size:48px;
          color:#e21e23;
          font-weight:bold;
          font-family:'CenturyGothic';
        }
      }

      .countries {
        margin:45px 0 0;
        float:right;
        font-family:'PFAgoraSlabPro';
        font-style:italic;
        font-size:18px;
        li {
          float:left;
          position:relative;
          padding:0px 20px 0px 40px;
          line-height:32px;
          a {
            color:#e21e23;
          }
          i {
            background: url('i/inner/countries_icons.png') no-repeat;
            height:32px;
            width:31px;
            position:absolute;
            top:0px;
            left:0px;
          }
          &.greece i {
            background-position:0px 0px;
          }
          &.spain i {
            background-position:-62px 0px;
          }
          &.turkey i {
            background-position:-31px 0px;
          }
        }
      }

    }

    .red_line {
      background: url('i/inner/red_line.png') repeat-y 0px -4px;
      position:absolute;
      bottom:33px;
      right:0px;
      color:#fff;
      padding:12px 20px 8px 30px;
      font-size:22px;
      font-family:'PFAgoraSlabPro';
      font-style:italic;
      small {
        font-size:18px;
      }
      strong {
        font-weight:bold;
        font-size:24px;
      }
    }

  }

  .wrap {
    background:rgba(255, 255, 255, 0.9);
    width:940px;
    margin:0 auto;
    .box-shadow(0 0 15px rgba(0, 0, 0, 0.15));
    padding:20px 27px 0;
  }

  section {

    width:929px;
    margin:0 auto;

    .tour {
      width:50%;
      float:left;
      margin:0 0 22px 0;
      font-family:'PFAgoraSlabPro';
      a {
        display:block;
        text-decoration:none;
        color:#000;
        p {
          font-size:14px;
          line-height:18px;
          &.name {
            font-size:18px;
            color:#393185;
            text-decoration:none;
            display:block;
            margin:8px 0 0 0;
          }
          i {
            color:#6f6f6f;
            display:block;
            margin-bottom:7px;
          }
          strong {
            color:#e21e23;
            font-size:24px;
            line-height:33px;
            font-weight:bold;
          }
        }
      }
      img {
        float:left;
        margin:0 25px 0 0;
        width:227px;
        height:120px;
        .border-radius(5px);
      }
    }

  }

}