@font-face {
    font-family: 'CenturyGothic';
    src: url('fonts-generated/gothic.eot');
    src: url('fonts-generated/gothic.eot?#iefix') format('embedded-opentype'),
         url('fonts-generated/gothic.woff') format('woff'),
         url('fonts-generated/gothic.ttf') format('truetype'),
         url('fonts-generated/gothic.svg#gothic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CenturyGothic';
    src: url('fonts-generated/gothicb.eot');
    src: url('fonts-generated/gothicb.eot?#iefix') format('embedded-opentype'),
         url('fonts-generated/gothicb.woff') format('woff'),
         url('fonts-generated/gothicb.ttf') format('truetype'),
         url('fonts-generated/gothicb.svg#gothicb') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'CenturyGothic';
    src: url('fonts-generated/gothicbi.eot');
    src: url('fonts-generated/gothicbi.eot?#iefix') format('embedded-opentype'),
         url('fonts-generated/gothicbi.woff') format('woff'),
         url('fonts-generated/gothicbi.ttf') format('truetype'),
         url('fonts-generated/gothicbi.svg#gothicbi') format('svg');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'CenturyGothic';
    src: url('fonts-generated/gothici.eot');
    src: url('fonts-generated/gothici.eot?#iefix') format('embedded-opentype'),
         url('fonts-generated/gothici.woff') format('woff'),
         url('fonts-generated/gothici.ttf') format('truetype'),
         url('fonts-generated/gothici.svg#gothici') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'PFAgoraSlabPro';
    src: url('fonts-generated/pfagoraslabprobolditalic.eot');
    src: url('fonts-generated/pfagoraslabprobolditalic.eot?#iefix') format('embedded-opentype'),
         url('fonts-generated/pfagoraslabprobolditalic.woff') format('woff'),
         url('fonts-generated/pfagoraslabprobolditalic.ttf') format('truetype'),
         url('fonts-generated/pfagoraslabprobolditalic.svg#pfagoraslabprobolditalic') format('svg');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'PFAgoraSlabPro';
    src: url('fonts-generated/pfagoraslabproitalic.eot');
    src: url('fonts-generated/pfagoraslabproitalic.eot?#iefix') format('embedded-opentype'),
         url('fonts-generated/pfagoraslabproitalic.woff') format('woff'),
         url('fonts-generated/pfagoraslabproitalic.ttf') format('truetype'),
         url('fonts-generated/pfagoraslabproitalic.svg#pfagoraslabproitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'PFAgoraSlabPro';
    src: url('fonts-generated/pfagoraslabprothin.eot');
    src: url('fonts-generated/pfagoraslabprothin.eot?#iefix') format('embedded-opentype'),
         url('fonts-generated/pfagoraslabprothin.woff') format('woff'),
         url('fonts-generated/pfagoraslabprothin.ttf') format('truetype'),
         url('fonts-generated/pfagoraslabprothin.svg#pfagoraslabprothin') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PFAgoraSlabPro';
    src: url('fonts-generated/pfagoraslabprothinitalic.eot');
    src: url('fonts-generated/pfagoraslabprothinitalic.eot?#iefix') format('embedded-opentype'),
         url('fonts-generated/pfagoraslabprothinitalic.woff') format('woff'),
         url('fonts-generated/pfagoraslabprothinitalic.ttf') format('truetype'),
         url('fonts-generated/pfagoraslabprothinitalic.svg#pfagoraslabprothinitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}